@use "variables" as *;
@use "mixins" as *;

// main {
//     // position: relative;
//     // height: 100vh;
//     // width: 100%;
//     // &::before {
//     //     content: "";
//     //     background-image: url("../assets/brooke-lark-jUPOXXRNdcA-unsplash.jpg");
//     //     background-size: cover;
//     //     position: absolute;
//     //     top: 0;
//     //     right: 0;
//     //     bottom: 0;
//     //     left: 0;
//     //     opacity: 0.25;
//     // }
// }

.main{
    position: relative;
    padding-top: 4rem;
}

.searchBar{
    padding-bottom: 2rem;
    @include flex (column, nowrap, center, center);
    input, textarea{
        border-radius: 2rem;
        border: 4px solid $secondaryColour;
        padding: 0.75rem;
        // resize: none;
    }

}

.recipe{
    background-color: $primaryColour;
    border-radius: 25px;
    padding: 20px; 
    margin-bottom: -150px;
    .flexContainer{
        padding: 1rem;
        @include flex (row, wrap);
        gap: 3rem;
        .imgContainer{
            flex-shrink: 0;
            height: 400px;
            width: 400px;
            img{
                border-radius: 25px;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
        .textContainer{
            .iconFlexContainer{
                margin: 1rem 0;
                @include flex (row, wrap, flex-start);
                gap: 5rem;
            }
        }
    }
}

.icon{
    @include flex (row, wrap, space-between, center);
    gap: 1rem;
    i{
        font-size: 2rem;
        color: $secondaryColour;
    }
}


