@use "variables" as *;
@use "mixins" as *;

// Media Queries:

@media (max-width: 1200px) {
    .recipe {
        .flexContainer {
            @include flex (column, nowrap, center, center);
            gap: 1rem;
            .textContainer {
                padding: 0 10%;
                .iconFlexContainer {
                    @include flex (row, nowrap, space-around, center);
                }
            }
        }
    }
    h1 {
        padding: 0 15px;
    }
    h2 {
        padding: 16px 60px;
        letter-spacing: 2px;
    }
}

@media (max-width: 768px){
    header {
        height: 70vh;
        h1 {
            margin-top: 7rem;
        }
    }
    .aboutSection {
        margin-top: -70vh;
    }
    .recipe {
        .flexContainer {
            .textContainer {
                padding: 0;
                .iconFlexContainer {
                    @include flex (column, wrap, flex-start);
                    gap: 0.5rem;
                }
            }
        }
    }
    .icon{
        @include flex (row, wrap);
        gap: 0.5rem;
        i{
            font-size: 1rem;
        }
    }
}

@media (max-width: 520px) {
    .recipe {
        .flexContainer {
            .imgContainer {
                height: 300px;
                width: 300px;
            }
        }
    }
}

@media (max-width: 360px) {
    h2 {
        padding: 16px 60px;
    }
    .recipe {
        .flexContainer {
            padding: 1rem 0;
            .imgContainer {
                height: 275px;
                width: 275px;
            }
        }
    }
}

@media (max-width: 350px) {
    html{
        font-size: 100%;
    }
}
