@use "variables" as *;
@use "mixins" as *;
/* Nav styles */
nav ul {
    @include flex (row, nowrap, flex-end, center);
    padding-left: 0;
}

nav li {
    font-family: "Josefin Sans";
    padding-left: 30px;
    list-style: none;
}

nav li:first-child {
    margin-right: auto;
    padding-left: 0px;
}