@use "variables" as *;
@use "mixins" as *;

// Nav Styles:
nav {
    position: fixed;
    width: 90%;
    ul {
        @include flex (row, nowrap, space-between, center);
        padding: 20px 0;
        ul {
            @include flex (row, nowrap, flex-end, center);
            width: 50%;
            li {
                font-family: "Josefin Sans";
                margin-left: 50px
            }  
        }
    }
}

.navButton {
    margin-top: 1.5rem;
    color: $primaryColour;
    background-color: $secondaryColour;
    border-radius: 25px;
    padding: 10px 13px 8px 13px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover, &:focus {
        color: $secondaryColour;
        background-color: $primaryColour;
    }
}