@use "variables" as *;

@font-face {
    font-family: "nickainley";
    src: url("../fonts/nickainley/nickainley.ttf");
    src: url("../fonts/nickainley/nickainley.otf");
    font-weight: normal;
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/montserratRegular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/montserratMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/montserratSemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat/montserratBold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "josefinSans";
    src: url("../fonts/josefinSans/josefinSansRegular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "josefinSans";
    src: url("../fonts/josefinSans/josefinSansSemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "josefinSans";
    src: url("../fonts/josefinSans/josefinSansLight.ttf");
    font-weight: lighter;
}

html {
    font-family: $mainFont;
    /* 20px default font size */
    font-size: 125%;
    color: $fontColour;
}

.logo {
    font-family: $logoFont;
    font-size: 2rem;
    color: $secondaryColour;
}

h1 {
    font-size: clamp(2.5rem, 9vw, 5rem);
    line-height: clamp(2.6rem, 9vw, 5rem);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    span {
        display: block;
    }
}

h2 {
    font-family: $accentFont;
    font-size: clamp(1.8rem, 4vw, 2rem);
    line-height: clamp(2rem, 4vw, 2.6rem);
    text-align: center;
    letter-spacing: 6px;
}

h3 {
    font-size: 2.1rem;
    text-align: center;
}

p{
    font-size: clamp(0.8rem, 3vw, 1rem);
    line-height: clamp(1.1rem, 3vw, 1.6rem);
    letter-spacing: 1px;
}

.navButton {
    font-family: $accentFont;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.45rem;
    text-align: center;
}

textarea, input, button, .button{
    font-family: $accentFont;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}