@use "variables" as *;

@font-face {
    font-family: "Nickainley";
    src: url("../fonts/nickainley/Nickainley.ttf");
    src: url("../fonts/nickainley/Nickainley.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Medium.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Josefin-Sans";
    src: url("../fonts/josefin-sans/JosefinSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Josefin-Sans";
    src: url("../fonts/josefin-sans/JosefinSans-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Josefin-Sans";
    src: url("../fonts/josefin-sans/JosefinSans-Light.ttf");
    font-weight: lighter;
}

html {
    font-family: $mainFont;
    /* 20px default font size */
    font-size: 125%;
    color: $fontColour;
}

.logo {
    font-family: $logoFont;
    font-size: 2rem;
    color: $secondaryColour;
}

h1 {
    font-size: clamp(4rem, 12vw, 5rem);
    line-height: clamp(3.8rem, 12vw, 4.8rem);
    font-weight: bold;
}

h2 {
    font-family: $accentFont;
    font-size: 2rem;
    line-height: 2.6rem;
}

h3 {
    font-size: 2.1rem;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
}

a {
    font-family: $accentFont;
    font-size: 1rem;
    line-height: 1.45rem;
    text-align: center;
}

button, .button{
    font-family: $accentFont;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}