@use "partials/setup";
@use "partials/variables" as *;
@use "partials/mixins" as *;
@use "partials/typography";
@use "partials/baseStyles";
@use "partials/nav";
@use "partials/header";
@use "partials/main";