html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

@font-face {
  font-family: "Nickainley";
  src: url("../fonts/nickainley/Nickainley.ttf");
  src: url("../fonts/nickainley/Nickainley.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Josefin-Sans";
  src: url("../fonts/josefin-sans/JosefinSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Josefin-Sans";
  src: url("../fonts/josefin-sans/JosefinSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Josefin-Sans";
  src: url("../fonts/josefin-sans/JosefinSans-Light.ttf");
  font-weight: lighter;
}
html {
  font-family: "Montserrat";
  /* 20px default font size */
  font-size: 125%;
  color: #2A2C41;
}

.logo {
  font-family: "Nickainley";
  font-size: 2rem;
  color: #FF724C;
}

h1 {
  font-size: clamp(4rem, 12vw, 5rem);
  line-height: clamp(4rem, 12vw, 5rem);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
h1 span {
  display: block;
}

h2 {
  font-family: "Josefin-Sans";
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 6px;
}

h3 {
  font-size: 2.1rem;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
}

.navButton {
  font-family: "Josefin-Sans";
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.45rem;
  text-align: center;
}

textarea, input, button, .button {
  font-family: "Josefin-Sans";
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: #F4F4F8;
}

.wrapper {
  max-width: 1560px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  margin-top: 2em;
  margin-bottom: 0.1em;
}

h2 {
  margin-bottom: 0.5em;
}

button, .button {
  margin-top: 1.5rem;
  color: #F4F4F8;
  background-color: #FF724C;
  border-radius: 25px;
  padding: 15px 15px 10px 15px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover, button:focus, .button:hover, .button:focus {
  color: #FF724C;
  background-color: #F4F4F8;
}

/* Nav styles */
nav {
  position: fixed;
  width: 90%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

nav ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

nav ul ul li {
  font-family: "Josefin Sans";
  margin-left: 50px;
}

.navButton {
  margin-top: 1.5rem;
  color: #F4F4F8;
  background-color: #FF724C;
  border-radius: 25px;
  padding: 10px 13px 8px 13px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navButton:hover, .navButton:focus {
  color: #FF724C;
  background-color: #F4F4F8;
}

header {
  height: 100vh;
}
header .hero {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
header .hero::before {
  content: "";
  background-image: url("../assets/brooke-lark-jUPOXXRNdcA-unsplash.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.25;
}
header .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  position: relative;
}

.searchBar {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchBar input, .searchBar textarea {
  border-radius: 2rem;
  border: 4px solid #FF724C;
  padding: 0.75rem;
}

.recipe {
  background-color: #F4F4F8;
  border-radius: 25px;
  padding: 20px;
}
.recipe .flexContainer {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  gap: 3rem;
}
.recipe .flexContainer .imgContainer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.recipe .flexContainer .imgContainer img {
  border-radius: 25px;
}
.recipe .flexContainer .textContainer .iconFlexContainer {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  gap: 5rem;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.icon i {
  font-size: 2rem;
  color: #FF724C;
}

footer {
  background-color: #F4F4F8;
}
footer p {
  text-align: center;
  padding: 0.3rem;
}